.profile__edit-btn {
  background-color: #000000;
  border: 1px solid #ffffff;
  /* display: inline-block; */
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  background-image: url(../../../images/profile__edit-btn.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  box-shadow: 0;
  /* line-height: 56px; */
  /* vertical-align: middle; */
}

.profile__edit-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}


@media screen and (max-width: 425px) {
  .profile__edit-btn {
    width: 18px;
    height: 18px;
    background-size: 7.5px;

  }
}
